body {
    text-align: center;
    background-color: skyblue;
    background: url('../images/pexels-photo-462770.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom; 
    padding-top: 50px;
}
.container {
    width: 50%;
    opacity: 0.75;
    margin: 1% auto;
    background-color: white;
    line-height: 40px;
    font-weight: bold;
}


